In [29]:
class SchoolMember: #Parent Class / Base cclass
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print('School Member initialized')
    def tell(self):
        print(f'Name : {self.name} Age : {self.age}',end=" ")

In [31]:
class Teacher(SchoolMember): # child class/Drived cclas
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
        print('Teacher initialized')

    def tell(self):
        SchoolMember.tell(self)
        print(f'Salary : {self.salary}')

In [41]:
class student(SchoolMember):
    def __init__(self,name,age,grade):
        SchoolMember.__init__(self,name,age)
        self.grade = grade
        print('grade initialized')

    def tell(self):
        SchoolMember.tell(self)
        print(f'Grade : {self.grade}')

In [45]:
t1.tell()

Name : pooja Age : 40 Salary : 150000

In [47]:
t2 = student('anand',24,'A')

School Member initialized
grade initialized

In [49]:
t2.tell()

Name : anand Age : 24 Grade : A