In [1]:
# Even or Odd Checker:
# Write a program that takes an integer as input and checks if the number is even or odd using if and elif.

A = int(input("Enter a number:"))
if A % 2 == 0:
    print("The number is even ")
elif A % 2 != 0:
    print("The number is odd")

Enter a number: 4

The number is even

In [3]:
#  Given a student's score, write a program that assigns a letter grade based on the following conditions:
# 90 and above: "A"
# 80 to 89: "B"
# 70 to 79: "C"
# 60 to 69: "D"
# Below 60: "F

score = int(input("Enter the student's score grade based:"))

if score >= 90:
    grade = "A"
if (score >= 80 and score <= 89):
    grade = "B"
if (score >= 70 and score <= 79):
    grade = "C"
if (score >= 60 and score <= 69):
    grade = "D"
elif score <= 60:
    grade = 'F'
print(f"The student's grade is: {grade}")

Enter the student's score grade based: 45

The student's grade is: F

In [5]:
#  Write a program that takes a number as input and uses a while loop to count how many digits the number has.
i = int(input("Enter the number:"))
n = 1

while n <= 12:
    print(f'{1} X {n} = {i*n}')
    n += 2

Enter the number: 55

1 X 1 = 55
1 X 3 = 165
1 X 5 = 275
1 X 7 = 385
1 X 9 = 495
1 X 11 = 605

In [13]:
# Write a program that takes a number as input and uses a while loop to reverse its digits. For example, input 1234 should output 4321.
n = 4
while n <= 1:
    print(n)
    n -= 1

In [15]:
name = 'anand kumar'
li = [i for i in name]
li

['a', 'n', 'a', 'n', 'd', ' ', 'k', 'u', 'm', 'a', 'r']

In [17]:
# create a new list of powers of 0 to 9
powers = [num**2 for num in range(12)] # a for loop define with 
print(powers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [19]:
name = 'anand kumar'
li = [i for i in name]
li

['a', 'n', 'a', 'n', 'd', ' ', 'k', 'u', 'm', 'a', 'r']

In [21]:
powers = [num*2 for num in range(12)] # a for loop define with 
print(powers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [23]:
# create a new list of powers of 0 to 9
powers = (num**2 for num in range(12)) # a for loop define with 
print(powers)

<generator object <genexpr> at 0x00000155239E57D0>

In [25]:


next(powers) # call the first value in the generator

0

In [27]:
next(powers) # call the next value in the generator

1

In [29]:
adjectives = [ "juicy","big","tasty"] # list 1
fruite = ["apple","banana","charry"] # list 2

for fruit in fruite: # looping over list 2 - outer loop 
    for adjective in adjectives: # looping over list 1 - outer loop
        print(adjective,fruit)

juicy apple
big apple
tasty apple
juicy banana
big banana
tasty banana
juicy charry
big charry
tasty charry

In [31]:
adjectives = [ "juicy","big","tasty"] # list 1
fruite = ["apple","banana","charry"] # list 2

for adjective in adjectives: # looping over list 2 - outer loop 
    for fruit in fruite: # looping over list 1 - outer loop
        print(adjective,fruit)

juicy apple
juicy banana
juicy charry
big apple
big banana
big charry
tasty apple
tasty banana
tasty charry

In [33]:
adjectives = [ "juicy","big","tasty"] # list 1
fruits = ["apple","banana","charry"] # list 2

for fruit in fruits: # looping over list 2 - outer loop 
    for adjective in adjectives: # looping over list 1 - outer loop
        print(adjective,fruit)

juicy apple
big apple
tasty apple
juicy banana
big banana
tasty banana
juicy charry
big charry
tasty charry

# 'Break' statement

In [36]:
n = 0
while n < 6:
    print(n)
    if n == 3:
        break
    n += 1

0
1
2
3

In [1]:
n = 10
while n < 18:
    print(n)
    if n == 16:
        break 
    n += 1

10
11
12
13
14
15
16

In [5]:
n =  1
while n < 6:
    print(n)
    if n ==  3:
       break 
    n += 1

1
2
3

In [38]:
n = 0
while n < 6:
    n += 1
    if n == 3:
        continue
    print(n)

1
2
4
5
6

In [40]:
fruits = ["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)
    if fruit == "banana":
        break

apple
banana

In [27]:
fruits = ["apple","banana","cherry"]
for fruit in fruits:
    if fruit == "cherry":
        continue
    print(fruit)

apple
banana

# Exception Handling Examples

In [30]:
try:
    print(x_val)
except:
    print('An exception occured')

An exception occured

In [56]:
print(x_val)

NameError: name 'x_val' is not defined

In [58]:
try:
    print(1+'a')
except NameError:
    print("x_val is not defined")
except:
    print("somrthing else went wrong")

somrthing else went wrong

In [60]:
try:
    print(x)
except:
    print("somrthing went wrong")
finally:
    print("The 'try except' is finished!")

somrthing went wrong
The 'try except' is finished!

In [62]:
try:
    n = int(input("Enter a number:"))
    if n % 2 == 0:
        print('even')
    else:print('odd')
except:
    print("Invalid input...")

Enter a number: anand

Invalid input...

In [64]:
# raise a error
x = -1
if x < 0:
    raise Exception("sorry , paisa Zero  hai!")

Exception: sorry , paisa Zero  hai!

In [74]:
x = 'hello'

if not type(x) is int:
    raise TypeError("only good boy are allowed !")

TypeError: only good boy are allowed !

In [95]:
def is_simpleIntrest(principle , rate , time):

  Intrest = principle*rate*time/100
  return Intrest
print(is_simpleIntrest(10 , 10 , 10))

10.0

In [40]:
def is_simple(principle , Rate , Time):

    Intrest = principle*Rate*Time/100
    return Intrest
print(is_simple(100 , 10 , 10))

100.0

In [56]:
def is_CI(principle, Rate ,Time):
    intrest = principle *(1+Rate/100)*Time
    return intrest
print(is_CI(100, 5 ,4))

420.0

In [66]:
def areaofcircle():
    r = int(input("Enter redius: "))
    area = 3.14*r**2
    return area
areaofcircle()

Enter redius:  5

78.5

In [64]:
areaofcircle()

Enter redius:  2

12.56

In [68]:
anand = lambda a : a**3
print(anand)

27

In [70]:
print(anand(5))

125

In [78]:
squreroot = lambda a,b : a**2 + 2*a*b + b**2

print(squreroot(2,3))

25

In [112]:
cube_root = lambda a : a**(1/3)
print(cube_root(125))

5.0

# using of def

In [114]:
def square(x):
    return x ** 2
print(square(5))

25

In [116]:
def add(x, y):
    return x + y
print(add(2,5))

7

In [118]:
def is_even(x):
    return x % 2 == 0
print(is_even(40))

True

In [120]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(4))

24

In [122]:
def maximum(x, y):
    return x if x > y else y
print(maximum(5,7))

7

# using of lambda

In [126]:
square = lambda x: x ** 2
print(square(7))

49

In [128]:
add = lambda x, y: x + y
print(add(7,5))

12

In [130]:
is_even = lambda x: x % 2 == 0
print(is_even(7))

False

In [148]:
maximum = lambda x, y: x if x > y else y
print(maximum(7 , 10))

10

In [158]:
def multiply(x, y, z):
    return x * y * z
print(multiply(2 , 4 , 5))

40

In [170]:
def string_length(x):
    return len(x)
print(string_length('anand'))

5

In [180]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(3))

True

In [182]:
def concatenate(s1, s2):
    return s1 + s2
print(concatenate("anand" , "kumar"))

anandkumar

In [184]:
import math
def circle_area(radius):
    return math.pi * (radius ** 2)
print(circle_area(5))

78.53981633974483

In [188]:
multiply = lambda x, y, z: x * y * z
print(multiply(2 , 5 , 8))

80

In [190]:
string_length = lambda s: len(s)
print(string_length("anandkumar"))

10

In [192]:
is_prime = lambda n: n > 1 and all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))
print(is_prime(7))

True

In [194]:
concatenate = lambda s1, s2: s1 + s2
print(concatenate("anandkumar" , "arvindkumar"))

anandkumararvindkumar

In [196]:
import math
circle_area = lambda radius: math.pi * (radius ** 2)
print(circle_area(5))

78.53981633974483

# Built - in Modules

* Datetime module-Built-in Module

### Python Date-.now()

In [4]:
# import datetime module 
import datetime

# .now() is built - in datetime function
time_now = datetime.datetime.now()
print(time_now)

2025-01-02 11:44:11.583474

In [6]:
print(time_now.year)

2025

In [8]:
print(time_now.hour)

11

In [12]:
print(time_now.strftime("%A"))

Thursday

In [14]:
print(time_now.strftime("%B"))

January

In [16]:
print(time_now.strftime("%Y"))

2025

In [18]:
print(time_now.strftime("%d"))

02

In [ ]:
print(time_now.strftime("%A"))

In [20]:
print(time_now.minute)

44

In [40]:
x = datetime.datetime(2023 , 9 , 10)
print(x.strftime("%A"))

Sunday

In [1]:
import random
random_integer = random.randint(1 , 6)
print(random_integer)

1

In [3]:
import random
random_number = random.randrange(1 , 6)
print(random_number)

4

In [9]:
toss = ['Head','Tail']

random.choice(toss)

'Head'

In [57]:
import mymodul
mymodulee = mymodul.greeting('anand')

good morning anand

In [67]:
import mymodul
mymodul.anand('thik hu')

kaise ho aap ,sir ji thik hu

In [69]:
import mymodul
mymodul.anand('thik hu')

kaise ho aap ,sir ji thik hu

In [71]:
import mymodul
mymodul.sarvik('Sarvik')

bhai kya hal chal hai sabh thik hai n ? Sarvik

In [73]:
import ak
ak.ak('thik hu')

aap kya kar rahe ho thik hu

In [1]:
import ak

ak.add(4,5)

9

In [3]:
import ak as kk

In [7]:

kk.subtract(6,4)

2