In [1]:
print("anand")

anand

# comment

In [6]:
'''This is
a multiline
comment'''
print('Something')

Something

In [8]:
x = 2
print(x)

2

In [12]:
name = 'my family name  Anand'
print('My name is',name)

My name is my family name  Anand

In [14]:
x = 2
y = 4
print(x + y)

6

In [16]:
(x + y)

6

In [22]:
name = input('i love python')
print('are you love python?' , name)
type(name)

i love python yes

are you love python? yes

str

In [26]:
list_example = ['3',9,'x',3.14,4]
print(list_example)
type(list_example)

['3', 9, 'x', 3.14, 4]

list

In [30]:
tuple_example = (5,11,"hede")
print(tuple_example)
type(tuple_example)

(5, 11, 'hede')

tuple

In [32]:
range_ex = range(0,52,7)
print(range_ex)

range(0, 52, 7)

In [34]:
print(len(range_ex))

8

In [38]:
list(range(0,52,7))

[0, 7, 14, 21, 28, 35, 42, 49]

In [42]:
type(range_ex)

range

In [44]:
s = "i love you jaan"
len(s)

15

In [56]:
print(len(s[3:] + s[:7]))

19

In [60]:
b = {'one': 1, 'two':2, 'three': 3}
print(b)
type(b)

{'one': 1, 'two': 2, 'three': 3}

dict

In [64]:
boolean = False
type(boolean)
boolen = True
type(boolean)

bool

In [66]:
set_of_number = {0,9,1,5,4}
print(set_of_number)

{0, 1, 4, 5, 9}

In [76]:
names = ("my name is khan")
names_set = set(names)

unique_name = list(names_set)

print(unique_name)

[' ', 's', 'n', 'y', 'a', 'h', 'm', 'e', 'k', 'i']

In [3]:
class Person:
    def say_hi(self):
        print("hi")

    def say_hay(self):
        print('bye')

In [7]:
k = Person()

In [9]:
k.say_hi()

hi

In [15]:
k.say_hay()

bye

In [17]:
class Anand:
    def kumar_A(self):
        print('i love you ?')

    def KUMAR_a(self):
        print('do not love you')

In [19]:
k = Anand()

In [21]:
k.kumar_A()

i love you ?

In [23]:
k.kumar_A()

i love you ?

In [25]:
k.kumar_A

In [63]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print('this is my name and age .')

    def intro(self):
        return F'name : {self.name} age : {self.age}'

In [76]:
p = Person('Anand',25)

this is my name and age .

In [72]:
p.name

'Anand'

In [70]:
p.age

25

In [78]:
class AAJA:
    def nhi_aaraha(self):
        print('lyo nhi aa raha hai?')

    def anan_padega(self):
        print('kyo nhi aaoge.')

In [82]:
g = AAJA()

In [84]:
g.anan_padega()

kyo nhi aaoge.

In [86]:
g.nhi_aaraha()

lyo nhi aa raha hai?

In [94]:
class BANK:
    def __init__(self,viewbalance,passbook):
        self.viewbalance = viewbalance
        self.passbook = passbook

    def intro(self):
        print (f'viewbalance : {self.viewbalance} passbook : {self.passbook}')

In [96]:
B = BANK('STATUS',34211)

In [98]:
B.viewbalance

'STATUS'

In [100]:
B.passbook

34211

In [102]:
B.intro

In [110]:
class Person:
    def __init__(self,name):
        self.__name = name

    def get_name(self):
        return self.__name

    def set__name(self,name):
        self.__name = name
l = Person('anandkumarak')
print(l.get_name())
l.set__name('akanandkumar')
print(l.get_name())

anandkumarak
akanandkumar

# 54 LAB 'A'

In [187]:
class Employee:
    def __init__(self,name,employee_id,salary):
        self.name = name
        self.employee_id = employee_id
        self.salary = salary


    def display_details(self):
        return f'Name : {self.name} Employee_id : {self.employee_id} Salary : {self.salary}'

In [231]:
employee = Employee('Employee1','E001',50000)

In [233]:
employee.display_details()

'Name : Employee1 Employee_id : E001 Salary : 50000'

In [309]:
class Manager(Employee):
    def __init__(self,name,employee_id,salary,team_size):
        super().__init__(name,employee_id,salary)
        self.team_size = team_size

    def display_details(self):
        employee_details = super().display_details()
        return f"employee_details : {employee_details} Team_size : {self.team_size}"

In [311]:
manager = Manager("Manager","M420",80000,10)

In [313]:
manager.display_details()

'employee_details : Name : Manager Employee_id : M420 Salary : 80000 Team_size : 10'

In [317]:
if __name__== "__main__":
    employee = Employee("Employee1","E001",50000)
    manager = Manager("Manager","M420",80000,10)
    print("Employee Details:")
    print(employee.display_details())
    print("\nManager Details:")
    print(manager.display_details())

Employee Details:
Name : Employee1 Employee_id : E001 Salary : 50000

Manager Details:
employee_details : Name : Manager Employee_id : M420 Salary : 80000 Team_size : 10

# LAB 'B'

In [332]:
class Person:
    def __init__(self,name):
        self.name = name

    def greet(self):
        return f"Hello. i'm {self.name}"

In [324]:
class Employee:
    def __init__(self,employee_id):
        self.employee_id = employee_id
   
    def get_employee_id(self):
        return self.employee_id

In [338]:
class Manager(Person, Employee):
    def __init__(self, name, employee_id):
        Person.__init__(self, name)
        Employee.__init__(self, employee_id)

In [340]:
if __name__=="__main__":
    manager = Manager("Anand", "E12354")
    print(manager.greet())
    print(f"Employee ID: {manager.get_employee_id()}")

Hello. i'm Anand
Employee ID: E12354

# LAB 'C'

In [27]:
class Person:
     def __init__(self,name, age):
         self.name = name
         self.age = age

     def display_personal_details(self):
         return f"Name: {self.name}, Age: {self.age}"

In [29]:
class Employee(Person):
    def __init__(self, name, age, employee_id, salary):
        super().__init__(name, age)
        self.employee_id = employee_id 
        self.salary = salary

    def display_employee_details(self):
        personal_details = self.display_personal_details()
        return f"{personal_details}, Employee ID : {self.employee_id}, Salary: ₹{self.salary:.2f}"

In [43]:
class Manager(Employee):
     def __init__(self, name, age, employee_id, salary, department, team_size):
        super().__init__(name, age, employee_id, salary)
        self.department = department 
        self.team_size = team_size

     def display_manager_details(self):
         employee_details = self.display_employee_details()
         return f"{employee_details}, Department: {self.department}, Team size: {self.team_size}"

In [45]:
if __name__=="__main__":
    
   manager = Manager("Anand", 45, "M12345", 56200, "sales", 40)
   print("Manager Details:")
   print(manager.display_manager_details())

Manager Details:
Name: Anand, Age: 45, Employee ID : M12345, Salary: ₹56200.00, Department: sales, Team size: 40

# LAB 'D'

In [48]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_personal_details(self):
        return f"Name : {self.name} Age : {self.age}"

In [50]:
class Employee(Person):
    def __init__(self, name, age, employee_id, salary):
        super().__init__(name, age)
        self.employee_id = employee_id
        self.salary = salary

    def display_employee_details(self):
        personal_details = self.display_personal_details()
        return f"{personal_details}, Employee ID: {self.employee_id},Salary: ₹{self.salary:.2f}"

In [52]:
class Manager(Person):
    def __init__(self, name, age, department, team_size):
        super().__init__(name, age)
        self.department = department
        self.team_size = team_size

    def display_manager_details(self):
        personal_details = self.display_personal_details()
        return f"{personal_details}, Department: {self.department}, Team Size: {self.team_size}"

In [54]:
if __name__ == "__main__":
    employee = Employee("Employee1", 30, "E12345", 50000)
    manager = Manager("Amanager", 40, "sales", 12)
    print("Employee Details;")
    print(employee.display_employee_details())
    print("\nManager details:")
    print(manager.display_manager_details())

Employee Details;
Name : Employee1 Age : 30, Employee ID: E12345,Salary: ₹50000.00

Manager details:
Name : Amanager Age : 40, Department: sales, Team Size: 12

# LAB '53'

In [4]:
from abc import ABC, abstractmethod

class BillingRecord(ABC):
    @abstractmethod
    def get_bill(self):

        pass

    @abstractmethod
    def update_bill(self, amount):

        pass

In [23]:
class PatientBilling(BillingRecord):
    def __init__(self, patient_id, patient_name, billing_amount=0):
        self.patient_id = patient_id
        self.patient_name = patient_name
        self.billing_amount = billing_amount

    def get_bill(self):
        return{
            'Patient ID': self.patient_id,
            'patient_name': self.patient_name,
            'billing_amount':f"₹{self.billing_amount:.2f}"
        }
    def update_bill(self,amount):
        if amount > 0:
            self.billing_amount += amount
            print(f"Billing amount update by ₹{amount:.2f}. New amount is ₹{self.billing_amount:.2f}")
        else:
            print("Amount to update must be positive.")

In [25]:
if __name__ == "__main__":
    patient_bill = PatientBilling(
        patient_id="P001",
        patient_name="Anand",
        billing_amount=150.00
    )
    print("Initial Bill Details:")
    print(patient_bill.get_bill())
    patient_bill.update_bill(50.00)
    print("\nUpdated Bill Details:")
    print(patient_bill.get_bill())

Initial Bill Details:
{'Patient ID': 'P001', 'patient_name': 'Anand', 'billing_amount': '₹150.00'}
Billing amount update by ₹50.00. New amount is ₹200.00

Updated Bill Details:
{'Patient ID': 'P001', 'patient_name': 'Anand', 'billing_amount': '₹200.00'}

# LAB '51'

In [116]:
class BankAccount:
    def __init__(self, Account_number, holder_name, initial_balance=0):
        self.Account_number = Account_number
        self.holder_name = holder_name
        self.balance = initial_balance  # Use 'self.balance' for consistency

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ₹{amount:.2f}. New balance is ₹{self.balance:.2f}.")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew ₹{amount:.2f}. New balance is ₹{self.balance:.2f}.")
        else:
            print("Insufficient funds or invalid amount.")

    def get_balance(self):
        return self.balance

In [118]:
if __name__ == "__main__":
    account = BankAccount("65941454", "anand", 10000)
    account.deposit(500)

Deposited ₹500.00. New balance is ₹10500.00.

In [120]:
account.withdraw(1000)

Withdrew ₹1000.00. New balance is ₹9500.00.

In [124]:
account.get_balance()

9500

In [130]:
print(f"final balance: ₹{account.get_balance()}")

final balance: ₹9500

# LAB '52'

In [144]:
class BankAccount:
    def __init__(self, account_number, holder_name, initial_balance=0):
        self.__account_number = account_number
        self.__holder_name = holder_name
        self.__balance = initial_balance
        
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"₹{amount:.2f} deposited successfully. New balance: ₹{self.__balance:.2f}.")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            print(f"₹{amount:.2f} withdrawn successfully. New balance: ₹{self.__balance:.2f}.")
        else:
            print("Insufficient funds or invalid withdrawal amount.")

    def get_balance(self):
        return self.__balance

    def get_account_details(self):
        return {
            "Account Number": self.__account_number,
            "Holder Name": self.__holder_name,
            "Balance": self.__balance,
        }

    def update_holder_name(self, new_name):
        if new_name.strip():
            self.__holder_name = new_name.strip()
            print("Account holder name updated successfully.")
        else:
            print("Invalid name. Please try again.")

if __name__ == "__main__":
    account = BankAccount(account_number=12345678, holder_name="Anand Kumar", initial_balance=1000)

    details = account.get_account_details()
    print(f"Account Details: {details}")

    account.deposit(500)     
    account.withdraw(200)     
    print(f"Current Balance: ₹{account.get_balance():.2f}") 

   
    account.update_holder_name("Anand K.") 
    print(f"Updated Account Details: {account.get_account_details()}")

Account Details: {'Account Number': 12345678, 'Holder Name': 'Anand Kumar', 'Balance': 1000}
₹500.00 deposited successfully. New balance: ₹1500.00.
₹200.00 withdrawn successfully. New balance: ₹1300.00.
Current Balance: ₹1300.00
Account holder name updated successfully.
Updated Account Details: {'Account Number': 12345678, 'Holder Name': 'Anand K.', 'Balance': 1300}

In [1]:
result = 1 // 2
print(result)  # Output: 0

0

In [3]:
def raise_power(base, exponent):
    return base ** exponent


print(raise_power(exponent=3, 2))

SyntaxError: positional argument follows keyword argument (3309682651.py, line 5)

In [7]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y

In [9]:
my_values = [3 * i for i in range(5)]


def modify_list(values):
    del values[values[2] // 3]
    return values


print(modify_list(my_values))

[0, 3, 9, 12]

In [11]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [17]:
inventory = ['apple', 'banana', 'cherry']
backup_inventory = inventory
del backup_inventory[:]

In [19]:
first_input = input("Enter first number: ")
second_input = input("Enter second number: ")
print(second_input + first_input)

Enter first number:  8
Enter second number:  5

58

In [21]:
print("a", "b", "c", sep="sep")

asepbsepc

In [23]:
x = 1 // 5 + 1 / 5
print(x)

0.2

In [25]:
sample_tuple[0] = 5
print(sample_tuple)

NameError: name 'sample_tuple' is not defined

In [27]:
x = float(input())
y = float(input())
print(y ** (1 / x))

 2
 4

2.0

In [29]:
dictionary = {'alpha': 'beta', 'gamma': 'alpha', 'beta': 'gamma'}
value = dictionary['gamma']

for key in range(len(dictionary)):
    value = dictionary[value]

print(value)

alpha

In [33]:
values = [i for i in range(-1, -3, -1)]

In [35]:
def custom_function(x, y, z=0):
    # Body of the function.

SyntaxError: incomplete input (1512721601.py, line 3)

In [37]:
def fun(x, y):
    if x == y:
        return x
    else:
        return fun(x, y-1)


print(fun(0, 3))

0

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple = my_tuple[-1]
print(my_tuple)

In [ ]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

In [ ]:
def fun(inp=2, out=3):
    return inp * out


print(fun(out=2))

In [ ]:
matrix = [[x for x in range(3)] for y in range(3)]

count = 0
for row in matrix:
    for element in row:
        if element % 2 != 0:
            count += 1
print(count)

In [ ]:
try:
    value = input("Enter a value: ")
    print(int(value)/len(value))
except ValueError:
    print("Bad input...")
except ZeroDivisionError:
    print("Very bad input...")
except TypeError:
    print("Very very bad input...")
except:
    print("Booo!")

In [ ]:
try:
    print(10 / 0)
    break
except ZeroDivisionError::
    print("Zero division error occurred...")
except (ValueError, TypeError):
    print("Value or type error occurred..")
except:
    print("Unknown error occurred...")

In [ ]:
foo = (1, 2, 3)
foo.index(0)

In [ ]:
# A:
except (TypeError, ValueError, ZeroDivisionError):
    # Some code.

# B:
except TypeError, ValueError, ZeroDivisionError:
    # Some code.

# C:
except: (TypeError, ValueError, ZeroDivisionError)
    # Some code.

# D:
except: TypeError, ValueError, ZeroDivisionError
    # Some code.

# E:
except (TypeError, ValueError, ZeroDivisionError)
    # Some code.

# F:
except TypeError, ValueError, ZeroDivisionError
    # Some code.

In [ ]:
print(3 + "5")

In [3]:
class Person:
    def say_hi(self):
        print('anand kumar')

    def say_byee(self):
        print('what is your name?')

In [7]:
AA = Person()
print(AA)

<__main__.Person object at 0x000001ECA5ECCE30>

In [9]:
AA.say_hi()

anand kumar

In [11]:
AA.say_byee()

what is your name?

In [13]:
class AI:
    def artificial(self):
        print('kavita')

    def intelligance(self):
        print("kumari")

In [15]:
ANAND = AI()
print(ANAND)

<__main__.AI object at 0x000001ECA49DD1F0>

In [17]:
ANAND.artificial()

kavita

In [19]:
ANAND.intelligance()

kumari

In [21]:
class ANANDA:
    def __init__(self, name,age):
        self.name = name
        self.age = age
        print('bachapan ka kya name hai?')

    def intro(self):
        return f'Name : {self.name} Age : {self.age}'

In [23]:
AAA = ANANDA('ANand', 24)
print(AAA)

bachapan ka kya name hai?
<__main__.ANANDA object at 0x000001ECA5ECF620>

In [31]:
AAA.name

'ANand'

In [33]:
AAA.age

24

In [35]:
AAA.intro

In [37]:
class CAR:
    def __init__(self, newCAR, THISYEARS):
        self.newCAR = newCAR
        self.THISYEARS = THISYEARS
        print('NEW MODLE')

    def intro(self):
        print(f'NewCAR : {self.newCAR} this : {self.THISYEARS}')

In [39]:
C = CAR('jugad_gadi' ,2025 )
print(C)

NEW MODLE
<__main__.CAR object at 0x000001ECA5FA33B0>

In [41]:
C.newCAR

'jugad_gadi'

In [43]:
C.THISYEARS

2025

In [99]:
class Person:
    def __init__(self,name):
        self.name = name
        
    def get_name(self):
         return self.__name
        
    def Set_name(self,name):
        self._name = name

SSS = Person("STUD")
print(SSS.get_name())

SSS.Set_name("STUDE")

<__main__.Person object at 0x000001ECA6A5DDC0>

In [11]:
class SchoolMember:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('School Member initialized')

    def tell(self):
        print(f'Name : {self.name} Age : {self.age}',end="")

In [17]:
class Teacher(SchoolMember):
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
        print('Teacher initialized')

    def tell(self):
        SchoolMember.tell(self)
        print(f'Salary : {self.salary}')

In [19]:
TT1 = Teacher("ANANDAA", 24, 25000)

School Member initialized
Teacher initialized

In [21]:
TT1.name

'ANANDAA'

In [25]:
TT1.age

24

In [27]:
TT1.salary

25000

In [29]:
TT1.tell

In [ ]:
class SchoolMember:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('School Member initialized')

    def tell(self):
        print(f'Name : {self.name} Age : {self.age}',end="")

In [ ]:
class Teacher(SchoolMember):
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
        print('Teacher initialized')

    def tell(self):
        SchoolMember.tell(self)
        print(f'Salary : {self.salary}')

In [31]:
class student(SchoolMember):
    def __init__(self,name,age,grade):
        SchoolMember.__init__(self,name,age)
        self.grade = grade
        print('grade initialized')

    def tell(self):
        SchoolMember.tell(self)
        print(f'Grade : {self.grade}')

In [33]:
TTT1 = student('ANIL', 24, 'D')

School Member initialized
grade initialized

In [35]:
TTT1.grade

'D'

In [37]:
TTT1.name

'ANIL'

In [39]:
TTT1.age

24

In [43]:
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']
print(new_list)
print(type(new_list))

new_tuple = tuple(new_list)
print(new_tuple)
print(type(new_tuple))

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
<class 'list'>
(3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!')
<class 'tuple'>

In [45]:
new_tuple = 4,1,45,92,31,60,84
print(new_tuple)
print(type(new_tuple))

new_list = list(new_tuple) 
print(new_list)
print(type(new_list))

(4, 1, 45, 92, 31, 60, 84)
<class 'tuple'>
[4, 1, 45, 92, 31, 60, 84]
<class 'list'>

In [55]:
x = 4
y = 4

if x == y:
    print('x & y are equal')

x & y are equal

In [57]:
x = 5
y = 6

if x == y:
    print('x and y are equal')

In [59]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2