In [1]:
print(2 + 3 * 4)

14

In [5]:
x = "hello "
y = "world"
print(x + y)

hello world

In [11]:
list = [1,2,3,4]
print(list)
type(list)

[1, 2, 3, 4]

list

In [13]:
x = 5
x += 2
print(x)

7

In [17]:
li = input("what your name:" )
print(li)

what your name: anand

anand

In [19]:
x = 5//2
print(x)

2

In [23]:
x = range(5)
y = range(1,5)
print(x)
print(y)

range(0, 5)
range(1, 5)

In [37]:
x = int(input("Enter a number:"))
if (x > 10 and x < 20) :
    print("x is greater than 10 but less

Enter a number: 12

x is greater than 10 but less than 20

In [39]:
"Python" * 3

'PythonPythonPython'

In [43]:
"anand " * 4

'anand anand anand anand '

In [49]:
def great():
    print("hello, world")
great()

hello, world

In [51]:
def greet():
    print("Hello, World!")
greet()

Hello, World!

In [53]:
x = 12 
y = 13 
x + y

25

In [55]:
def square(x):
    return x * x
print(square(5))

25

In [59]:
def A(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(A(4))

Even

In [88]:
def A(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(A(100))

Even

In [108]:
def to_uppercase(input_string):
    return input_string.upper()

# Example usage:
result = to_uppercase("hello")
print(result)  # Output: "HELLO"

HELLO

In [114]:
def to_uppercase(input_string):
    return input_string.upper()
    
c = to_uppercase("anandkumar")
print(c)

ANANDKUMAR

In [122]:
a = "anand"
print(a.upper())

ANAND

In [124]:
a = "my name anand kumar from utter pradesh ghazipur 233311"
print(a.upper())

MY NAME ANAND KUMAR FROM UTTER PRADESH GHAZIPUR 233311

In [126]:
a = "MY NAME ANAND KUMAR FROM UTTER PRADESH GHAZIPUR 233311"
print(a.lower())

my name anand kumar from utter pradesh ghazipur 233311

In [144]:
a = "MY NAME ANAND KUMAR FROM UTTER PRADESH GHAZIPUR 233311"
print(a.lower() , [a])

my name anand kumar from utter pradesh ghazipur 233311 ['MY NAME ANAND KUMAR FROM UTTER PRADESH GHAZIPUR 233311']